*.a
*.o
*.exe
.env
.pk
.pem
.pub
*.depend
*.layout
**/bin
**/obj
**/lib
**/libs
**/build
**/build_temp
simplexpress/
!simplexpress-source/include/simplexpress
docs/build
**/_build
*.depend
*.layout
*.config
!default.config
codealike.json
tester*