# .gitignore (MousePaw Media Build System)
# Version: 3.2.0
# Based in part on https://github.com/github/gitignore

# CHANGE: Project "ready" directory (MUST have leading slash)
/simplexpress/

# Tester symlinks
tester
tester_debug

# Documentation build
/docs/_build/
/docs/build/

# C/C++ compilation artifacts
*.d
*.elf
*.exp
*.gch
*.ilk
*.ko
*.lo
*.mod
*.o
*.obj
*.pch
*.slo
*.smod

# C/C++ Debug files
*.dSYM/
*.idb
*.pdb
*.su

# C/C++ Binary artifacts
*.a
*.app
*.dll
*.dylib
*.exe
*.hex
*.i*86
*.la
*.lai
*.lib
*.lo
*.out
*.so
*.so.*
*.x86_64

# Build directories
bin/
build_temp/
build/
lib/
libs/
obj/

# CMake local configuration
_deps
*.config
cmake_install.cmake
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
compile_commands.json
CTestTestfile.cmake
install_manifest.txt
Testing

!default.config

# Python (and tool) artifacts
__pycache__/
__pypackages__/
.cache
.coverage
.coverage.*
.dmypy.json
.eggs/
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pybuilder/
.pyre/
.pytest_cache/
.Python
.pytype/
.tox/
*.cover
*.egg
*.egg-info/
*.manifest
*.py,cover
*.py[cod]
*.spec
*$py.class
build/
cover/
coverage.xml
cython_debug/
develop-eggs/
dist/
dmypy.json
downloads/
eggs/
htmlcov/
ipython_config.py
lib/
lib64/
MANIFEST
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
profile_default/
sdist/
share/python-wheels/
target/
var/
wheels/

# Python virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Translation artifacts
*.mo
*.pot

# IDE cruft
.anjuta_sym_db.db
.anjuta/
.codelite/
.history/
.kdev4
.netrwhist
.spyderproject
.spyproject
.vscode/*
[._]*.un~
*.code-workspace
*.depend
*.kdev4
*.layout
Session.vim
Sessionx.vim

!.vscode/c_cpp_properties.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Tags cruft
.TAGS
.tags
cscope.files
cscope.in.out
cscope.out
cscope.po.out
GPATH
GRTAGS
GSYMS
GTAGS
gtags.files
TAGS
tags

!TAGS/
!tags/

# OS cruft
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
desktop.ini
Network Trash Folder
Temporary Items
thumbs.db

# VCS cruft
*.diff
*.patch

# Secrets
.asc
.env
.pem
.pk
.pub
secring.*

# Backups
*.bak
*.gho
*.ori
*.orig
*.tmp

# Archives
*.7z
*.bz2
*.bzip
*.bzip2
*.cab
*.gz
*.gzip
*.iso
*.jar
*.lzma
*.rar
*.tar
*.tgz
*.xar
*.xz
*.zip

# Package management formats
*.deb
*.dmg
*.egg
*.gem
*.msi
*.msm
*.msp
*.rpm
*.txz
*.xpi
